modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["unzip"]

[[ports]]
localPort = 5000
externalPort = 80

[env]
PORT = "5000"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_openai_ai_integrations:2.0.0", "youtube:1.0.0", "javascript_log_in_with_replit:2.0.0"]

[userenv]

[userenv.shared]
GOOGLE_OAUTH_CLIENT_ID = "683328279741-e45e0p5oddt6b61olh0rqrhsdvk7eu84.apps.googleusercontent.com"
GITHUB_CLIENT_ID = "Ov23liwKuTvB73cYh5oD"
GITHUB_CLIENT_SECRET = "7b54c3f042c28dc65f6b849081d2b0c4b35690ac"
APPLE_CLIENT_ID = "com.medicineandmoneyshow.webapp"
APPLE_TEAM_ID = "AG4PQ9Y5GY"
APPLE_KEY_ID = "LLYUTW9V3K"
APPLE_PRIVATE_KEY = """
-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBHkwdwIBAQQguVTHJAye1yn7DSd7
I/fHZd1j306EbK1fH9zOLa3G/l6gCgYIKoZIzj0DAQehRANCAASfkMMOpg53jabV
qwPUu4OKmas+bJaSho6qcSqWW7dAZWlJr0xKeMkThQsFnGrXlqeFwrYVr/9oSccr
mz2kC0Nm
-----END PRIVATE KEY-----"""
APP_URL = "https://medmoneyviralcontent.com"
